<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xsi:schemaLocation="NLog NLog.xsd"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    autoReload="true"
    throwExceptions="false"
    internalLogLevel="Info"
    internalLogFile="${basedir}/log/internal.log" >

    <variable name="defaultLayout2" value="${longdate} ${level} [${threadname:whenEmpty=${threadid}}] ${logger} - ${message} ${exception:format=tostring}"/>
    <variable name="defaultLayout" value="${longdate} ${level} [${threadid}] ${logger} - ${message} ${exception:format=tostring}"/>

    <!-- the targets to write to -->
    <targets>
        <!-- write logs to file -->
        <target xsi:type="File" name="logfile" fileName="${basedir}/log/myapp.log"
            layout="${var:defaultLayout}" />
        <!-- write logs to console -->
        <target xsi:type="Console" name="logconsole"
            layout="${var:defaultLayout}" />
    </targets>

    <!-- rules to map from logger name to target -->
    <rules>
        <logger name="UC.Core.Job.*" minlevel="Trace" writeTo="logconsole" />
        <logger name="*" minlevel="Debug" writeTo="logfile,logconsole" />
    </rules>
</nlog>

